# **Shivani Dash 21BCE0484**
VIT Vellore

# **Task 1 - Create a pandas dataframe**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([['Anju',3,'F',20,90],['Ravi',2,'M',19,86],['Hari',1,'M',18,77],['Diya',1,'F',18,np.nan],['Rani',4,'F',22,99],['Saniya',3,'F',20,79],['Sara',2,'F',19,80],['Manu',2,'M',19,77],['Isha',1,'F',18,64],['Jai',4,'M',21,87]])
df.columns=['Name','Year','Gender','Age','Marks']
df

     Name  Year Gender  Age  Marks
0    Anju     3      F   20   90.0
1    Ravi     2      M   19   86.0
2    Hari     1      M   18   77.0
3    Diya     1      F   18    NaN
4    Rani     4      F   22   99.0
5  Saniya     3      F   20   79.0
6    Sara     2      F   19   80.0
7    Manu     2      M   19   77.0
8    Isha     1      F   18   64.0
9     Jai     4      M   21   87.0

# **Task 2 - Check the info of df.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Year    10 non-null     int64
 2   Gender  10 non-null     object
 3   Age     10 non-null     int64
 4   Marks   9 non-null      float64
dtypes: float64(1), int64(2), object(2)
memory usage: 528.0+ bytes

# **Task 3 - Check the descriptive statistics of df**

In [ ]:
df.describe()

            Year        Age      Marks
count  10.000000  10.000000   9.000000
mean    2.300000  19.400000  82.111111
std     1.159502   1.349897   9.879834
min     1.000000  18.000000  64.000000
25%     1.250000  18.250000  77.000000
50%     2.000000  19.000000  80.000000
75%     3.000000  20.000000  87.000000
max     4.000000  22.000000  99.000000

# **Task 4 - Check the 4th index observation with 'loc' slicing operator**

In [ ]:
df.loc[4]

Name      Rani
Year         4
Gender       F
Age         22
Marks     99.0
Name: 4, dtype: object

# **Task 5 - Check the null values in your df**

In [ ]:
df.isnull().any()

Name      False
Year      False
Gender    False
Age       False
Marks      True
dtype: bool

In [ ]:
df.isnull().sum()

Name      0
Year      0
Gender    0
Age       0
Marks     1
dtype: int64